In [1]:
import duckdb

con = duckdb.connect()

df = con.execute("""
    SELECT *
    FROM 'data/**/*.parquet'
""").fetchdf()

df.head()

,city,latitude,longitude,temperature,windspeed,winddirection,weathercode,observation_time,ingestion_time,date
0,Delhi,28.6139,77.2090,23.7,7.3,290.0,3,2026-02-13T09:30,2026-02-13 09:38:53.510745,2026-02-13
1,London,51.5074,-0.1278,6.9,4.3,66.0,3,2026-02-13T09:30,2026-02-13 09:38:53.510313,2026-02-13
2,NewYork,40.7128,-74.0060,-4.7,5.1,321.0,0,2026-02-13T09:30,2026-02-13 09:38:53.510607,2026-02-13
3,Tokyo,35.6762,139.6503,7.7,3.0,166.0,0,2026-02-13T09:30,2026-02-13 09:38:53.510522,2026-02-13